.containerG {
    height: 300px;
    width: 60%;
    border: 9px solid gray;
    padding: 1em;
    display: grid;
    grid-template-areas: "one two two three three"
    "four four five three three"
    "four four five six six"
    " four four five six six"
    "seven seven seven seven eight";
    gap: 0.5em;
}
.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell {
    border: 3px solid teal;
}
.oneG {
    grid-area: one;
}
.twoG {
    grid-area: two;
}
.threeG {
    grid-area: three;
}
.fourG {
    grid-area: four;
}
.fiveG {
    grid-area: five;
}
.sixG {
grid-area: six;
}
.sevenG {
    grid-area: seven;
}
.eightG {
    grid-area: eight;
}